.container {
    width: 70%;
    margin:auto;
    min-height: 90vh;
}

* {
  font-family: 'Roboto', sans-serif;
}

.logoacteur {
width: 500px;
margin: 0 auto;
display: flex;
flex-direction: column;
}

h1,h2
{   
    text-align: center;
}


p,li {
font-weight: 300;
}

header a.center {
  display: inline-block;
  margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom-color: red;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}



footer {
margin: auto;
  height: 50px;
  text-align: center;
   background-color: #808080;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #ffffff;
}


.main {
   padding: 20px;
   background-color: #c5c2c2;
   border-radius:15px;
   
}

.start {
    text-align: center;
    padding: 2px 2px 2px;
    background-color: #c5c2c2;
    border-radius:15px;
    width: 50%;
    margin:auto;
}

.separateur {
  border-bottom: 4px solid #c5c2c2 ;
  width: 50%;
  margin: 0  auto;
}

.left-header {~
    
    padding: 5px;
     background-color:#c5c2c2;
     border-radius:15px;

}

input {
  margin:5px;
  border-radius: 10px;
  border:0;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}

.description_acteur{
font-weight: 300;
}

#partenaire-list {
  margin:5px;
  border-radius: 10px;
  border:0;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;

}

